TELEMETRY_API_URL=http://telemetry-api:8000
PHOTO_SOURCE_DIR=/path/to/photo/source
PHOTO_STORAGE_DIR=/path/to/photo/storage
DOCKER_IMAGE=ghcr.io/marvey11/achterhus-utilities/photo-router:latest
DOCKER_NETWORK=achterhus-network
