[Unit]
Description=Photo Batch Run
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/achterhus/photo-router/env
ExecStart=/usr/bin/docker run --rm \
    --name photo-router \
    --network ${DOCKER_NETWORK} \
    -e TELEMETRY_API_URL=${TELEMETRY_API_URL} \
    -v ${PHOTO_SOURCE_DIR}:/source:rw \
    -v ${PHOTO_STORAGE_DIR}:/target:rw \
    ${DOCKER_IMAGE}

[Install]
WantedBy=default.target
